:root {
  /* Background & Surface */
  --background: #000000;
  --component-light: #4b4b4b;
  --component: #1b1b1b;
  --component-dark: #141414;
  
  /* Text */
  --white: #FFFFFF;
  --pink: #FF80BF;
  
  /* Tech/Terminal */
  --green: #00FF41;
  --red: #FF0055;
  
  /* Utopia/Paradise */
  --lavender: #B8A0FF;
  --sky: #6BC4FF;
  --mint: #7FFFD4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Menlo', 'Consolas', monospace;
  line-height: 1.5;
  font-size: 16px;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--background);
  color: var(--white);
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: None;
}
