/* Board styles */
.board {
  position: absolute;
  overflow: hidden;
  background: repeating-linear-gradient(
    45deg,
    var(--background),
    var(--component) 100px
  );
}

.board::-webkit-scrollbar {
  display: none;
}

.board:active {
  cursor: grabbing;
}

/* Card structure styles */
.card {
  position: absolute;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}

.card.expanded {
  width: 80vw!important;
  height: 80vh!important;
  z-index: 1000;
}

#companion-card {
  top: 52%;
  left: 52%;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom-right-radius: 8px;
  cursor: nwse-resize;
}
