/* Claudy coloring/theming */
.claudy {
  background: var(--component);
  border: 2px solid var(--component-light);
}

.claudy .resize-handle {
  border-bottom: 20px solid var(--component-light);
}

/* Claudy messages structure */
.claudy-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.claudy-messages::-webkit-scrollbar {
  display: none;
}

/* Claudy input structure and coloring */
.claudy-input {
  display: flex;
  background: var(--component);
  border: 2px solid var(--component-light);
  border-radius: 8px;
  color: var(--white);
  resize: none;
  overflow: hidden;

  width: 100%;
  align-self: flex-end;
  margin: 2% 0%;
}

.claudy-input:focus {
  outline: none;
  border: 2px solid var(--lavender);
}

/* Claudy message styling */
.message-assistant {
  background: var(--component);
  padding: 10px;
  margin: 20px 0px;
  color: var(--white);
}

.message-user {
  background: var(--component-light);
  padding: 10px;
  margin: 20px 0px;

  display: block;
  width: fit-content;
  margin-left: auto;
  color: var(--lavender);
  border-radius: 8px;
}

.message-user ul, .message-user ol,
.message-assistant ul, .message-assistant ol {
  margin: 8px 0;
  padding-left: 20px;
}

.message-user pre, .message-assistant pre {
  background: var(--component-light);
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
  margin: 10px 0;
}

.message-user a, .message-assistant a {
  color: var(--mint);
}
