.infinite-board {
  position: absolute;
  overflow: hidden;
  cursor: grab;
  background: repeating-linear-gradient(
    45deg,
    var(--background),
    var(--component) 100px
  );
}

.infinite-board::-webkit-scrollbar {
  display: none;
}

.infinite-board:active {
  cursor: grabbing;
}




.claudy-card {
  position: absolute;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background: var(--component);
  border: 2px solid var(--component-light);
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}

.claudy-card.expanded {
  width: 80vw!important;
  height: 80vh!important;
  z-index: 1000;
}

#companion-card {
  top: 52%;
  left: 52%;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid var(--component-light);
  border-bottom-right-radius: 8px;
  cursor: nwse-resize;
}

.claudy-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.claudy-messages::-webkit-scrollbar {
  display: none;
}

.claudy-input {
  display: flex;
  background: var(--component);
  border: 2px solid var(--component-light);
  border-radius: 8px;
  color: var(--white);
  resize: none;
  overflow: hidden;

  width: 100%;
  align-self: flex-end;
  margin: 2% 0%;
}

.claudy-input:focus {
  outline: none;
  border: 2px solid var(--lavender);
}

.message-assistant {
  background: var(--component);
  padding: 10px;
  margin: 20px 0px;
  color: var(--white);
}

.message-user {
  background: var(--component-light);
  padding: 10px;
  margin: 20px 0px;

  display: block;
  width: fit-content;
  margin-left: auto;
  color: var(--lavender);
  border-radius: 8px;
}

.message-user ul, .message-user ol,
.message-assistant ul, .message-assistant ol {
  margin: 8px 0;
  padding-left: 20px;
}

.message-user pre, .message-assistant pre {
  background: var(--component-light);
  padding: 12px;
  border-radius: 4px;
  overflow-x: auto;
  margin: 10px 0;
}

.message-user a, .message-assistant a {
  color: var(--mint);
}